extends layout

block content
    img(class = "avatar big" src = user.avatarLink)
    p=user.pseudo
    if user.first_name != ''
        p=user.first_name
    if user.last_name != ''
        p=user.last_name
    p=user.email
    p="Nombre de Victoires " + user.wins
    a(href ="/user/account?username="+ (user.pseudo) +"&edit=true") Editer
    form(action = "/user/delete" method ="post")
        button Supprimer votre compte
block script
    script(src="/javascripts/account.js")
