extends layout

block content
    div.account
        div.accountLeftBlock
            img(class = "avatar big" src = user.avatarLink)
        div.accountRightBlock
            div.center
                span!= '<strong>Pseudo :&nbsp;&nbsp;</strong>'
                span=user.pseudo
            if user.first_name != ''
                p.center=user.first_name
            if user.last_name != ''
                p.center=user.last_name
            div.center
                span!= '<strong>Email :&nbsp;&nbsp;</strong>'
                span=user.email
            div.center
                span!= '<strong>Statistiques :&nbsp;&nbsp;</strong>'
                span="Nombre de Victoires " + user.wins
            div.center
                a.btn.btn-info.btn-lg(href ="/user/account/"+ (user.pseudo) +"?edit=true") Editer
            div.center
                form(action = "/user/delete" method ="post")
                    button.btn.btn-danger.btn-lg Supprimer votre compte
block script
    script(src="/javascripts/account.js")
