extends layout

block content
    if message
        div.error-bg
            p= message

    div.list-room
        h3 Créez une partie !

        form.form-horizontal.create-room(action='/create', method='post')
            input(type='hidden', name='_csrf', value=csrf)
            unless session.isAuthenticated
                div.form-group
                    label.col-sm-3.control-label(for='Uname') Nom d'utilisateur
                    div.col-sm-6: input.form-control#Uname(type='text', name='username', maxlength=20, required, value=session.username)
            div.form-group
                label.col-sm-3.control-label(for='Rname') Nom de la partie
                div.col-sm-6: input.form-control#Rname(type='text', name='roomName', maxlength=20)
            div.form-group
                label.col-sm-3.control-label(for='private') Partie privée
                div.col-sm-6.switch-form: label.switch
                    input.switch-input.checkbox#private(type='checkbox', name='private')
                    span.switch-label(data-on='OUI', data-off='NON')
                    span.switch-handle
            div.form-group: div.col-sm-offset-3.col-sm-6
                button.btn.btn-primary(type='submit') Créer la partie

    div.list-room
        h3 Rejoignez une partie !
        form.form-horizontal(action='/join', method='post')
            input(type='hidden', name='_csrf', value=csrf)
            table.table.table-striped.table-bordered
                thead
                    th.center Nom de la partie
                    th.center Créateur
                    th.center Date de création
                    th.center Rejoindre
                each room in rooms
                    tr.room
                        td= room.name
                        td= room.creator
                        td!= room.createdOn
                        td.center
                            button.btn.btn-primary(type='submit', name='id', value=room._id) Rejoindre

block script
    script(src='/javascripts/indexClient.js')