extends layout
//var room = require('../controllers/Rooms');

block content
    if message
        div.error-bg
            p #{message}

    div.list-room
        h3 Créez une partie !

        form.form-horizontal(class = "create-room" action="/create" method = "post")
            div.form-group
                label.col-sm-3.control-label(for= "Uname") Nom d'utilisateur
                div.col-sm-6: input.form-control(type ="text" name = "username" id="Uname" maxlength=20 required="required")
            div.form-group
                label.col-sm-3.control-label(for="Rname") Nom de la partie
                div.col-sm-6: input.form-control(type = "text" name = "roomName" id="Rname" maxlength=20)
            div.form-group
                label.col-sm-3.control-label(for= "private") Partie privée
                div.col-sm-6.switch-form
                        label.switch
                            input.switch-input.checkbox(type="checkbox" name="private" id="private")
                            span.switch-label(data-on="OUI" data-off="NON")
                            span.switch-handle
            div.form-group: div.col-sm-offset-3.col-sm-6
                button.btn.btn-primary(name = "submit") Créer la partie

    div.list-room
        h3 Rejoignez une partie !
        form.form-horizontal(action="/join" method="post")
            table.table.table-striped.table-bordered
                thead
                    th.center Nom de la partie
                    th.center Créateur
                    th.center IsPlaying
                    th.center IsPrivate
                    th.center Rejoindre
                - for (var k in room)
                    tr(id=room[k]._id)
                        td=room[k].name
                        td=room[k].creator
                        td=room[k].playing
                        td=room[k].private
                        td.center
                            button.btn.btn-primary(name="id" value=room[k]._id) Rejoindre
block script
    script(src="/javascripts/indexClient.js")
