extends layout
//var room = require('../controllers/Rooms');
block content
    h1= title
    p Welcome to #{title}

    div.list-room
        h3 Rejoignez une partie !
        table
            tr
                td Nom de la partie
                td Créateur
                td IsPlaying
                td IsPrivate
            tr
                td=room.name
                td=room.creator
                td=room.playing
                td=room.private
                td
                    form(action="/join" method="post")
                        button(name="id" value=room._id) Rejoindre