extends layoutPlay

block content
    - var lettre = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J']
    div#msges
    div.tab-container.top-container
        div.bateau
            div#validationButton
            div.bat-container
        div#aQuiLeTour
        table.table.listPlayer
            tr
                td.prefix Vous :
                td#myName
                td#countdown
            tr
                td.prefix Adversaire :
                td#opponentName

    div.tab-container
        div
            h3.center Plateau Adverse
            table.tab.tab-att.cell-center(id = "opponentTab")
                tr
                    td
                    - for (var x = 1; x <= 10; x++)
                        td!= "<strong>" + (x) + "</strong>"
                - for (var y = 0; y < 10; y++)
                    tr
                        td!= "<strong>" + (lettre[y]) + "</strong>"
                        - for (var x = 0; x < 10; x++)
                            td(class="cell cell-att "+x+"-"+y onclick="clicTabAtt("+x+", "+y+")" style="font-size: 15px")

        div(style="width: 30px")
        div
            h3.center Votre Plateau
            table.tab.tab-def.cell-center(id = "myTab")
                tr
                    td
                    - for (var x = 1; x <= 10; x++)
                        td!= "<strong>" + (x) + "</strong>"
                - for (var y = 0; y < 10; y++)
                    tr
                        td!= "<strong>" + (lettre[y]) + "</strong>"
                        - for (var x = 0; x < 10; x++)
                            td(id="id-"+x+"-"+y class="cell cell-def "+x+"-"+y ondrop="drop(event)" ondragover="allowDrop(event)")
    div#chat
        div#chatMessages
            table.table.table-striped.table-bordered
        div.form-group: div.input-group
            input(class = "form-control" placeholder="Type your text here..." maxlength=200)#messageInput
            div.input-group-addon.btn.btn-default(onClick = "sendMessage()")#sendMessage
                span(class="glyphicon glyphicon-send" aria-hidden="true")



block script
    script(type = "text/javascript").
        var sess = !{JSON.stringify(session)};
    script(src="/javascripts/playClient.js")
    script(src="/javascripts/chatClient.js")
