extends layoutPlay

block content
    - var lettre = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J']
    div#msges
    div.tab-container
        div
            h1(onclick="testLog()")= title
            p
            p.compt 0
            button.btn.btn-default(id ="validBat" onclick="clicButValid()") Valider les positions
        div(class="bat-container")
            - for (var i=1; i<=5; i++)
                div(id="Bat"+i class="bat" draggable="true" ondragstart="drag(event)")
    div.tab-container
        div#myName
        
        div#opponentName
    div.tab-container
        table.tab.tab-att.cell-center(id = "opponentTab")
            tr
                td
                - for (var x = 1; x <= 10; x++)
                    td!= "<strong>" + (x) + "</strong>"
            - for (var y = 0; y < 10; y++)
                tr
                    td!= "<strong>" + (lettre[y]) + "</strong>"
                    - for (var x = 0; x < 10; x++)
                        td(class="cell cell-att "+x+"-"+y onclick="clicTabAtt("+x+", "+y+")" style="font-size: 15px")

        div(style="width: 50px")
        table.tab.tab-def.cell-center(id = "myTab")
            tr
                td
                - for (var x = 1; x <= 10; x++)
                    td!= "<strong>" + (x) + "</strong>"
            - for (var y = 0; y < 10; y++)
                tr
                    td!= "<strong>" + (lettre[y]) + "</strong>"
                    - for (var x = 0; x < 10; x++)
                        td(id="id-"+x+"-"+y class="cell cell-def "+x+"-"+y ondrop="drop(event)" ondragover="allowDrop(event)")


block script
    script(type = "text/javascript").
        var sess = !{JSON.stringify(session)};
    script(src="/javascripts/playClient.js")
